<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Phases</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        h1 {
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
            max-width: 300px;
            margin: 0 auto;
        }

        label {
            margin-bottom: 5px;
        }

        input {
            margin-bottom: 10px;
            padding: 5px;
        }

        button {
            padding: 8px;
            background-color: #d9534f;
            color: white;
            cursor: pointer;
        }

        button:hover {
            background-color: #d9534f;
        }

        #result {
            margin-top: 20px;
            display: flex;
            gap: 5rem;
            /* align-items: center; */
            justify-content: space-between
                /* flex-direction: row; */
                /* justify-content: space-between; */
        }

        .caclCustomer {
            width: 100%;
            /* display: flex; */
            /* flex-direction: column; */
            /* justify-content: space-between; */
        }

        @media (max-width: 1080px) {
            #result {
                margin-top: 20px;
                display: flex;
                gap: 5rem;
                flex-direction: column;
                justify-content: space-between
            }

            .caclCustomer {
                width: 100%;
            }
        }



        table {
            width: 100% !important;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th,
        td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #d9534f;
            color: white;
        }
    </style>
</head>

<body>
    <h1>Financial Phases</h1>

    <form id="inputForm">
        <label for="investment">Investment:</label>
        <input type="number" id="investment" name="investment" value="<%= defaultInvestment %>" required
            onchange="calculatePhases()">

        <label for="incomeTarget">Income Target:</label>
        <input type="number" id="incomeTarget" name="incomeTarget" value="<%= defaultIncomeTarget %>" required
            onchange="calculatePhases()">

    </form>
    <div id="result">
        <!-- Results will be displayed here -->
    </div>

    <!-- <table id="financialTable">
        <thead>
            <tr>
                <th>Investment</th>
                <th>Income Target</th>
                <th>Phase 1 Cost</th>
                <th>Phase 2 Cost</th>
                <th>Phase 3 Cost</th>
                <th>Phase 4 Cost</th>
                <th>Phase 3 Income</th>
                <th>Phase 4 Income</th>
            </tr>
        </thead>
        <tbody> -->
    <!-- Financial data rows will be added here dynamically -->
    <!-- </tbody>
    </table> -->



    <script>
        function calculatePhases() {
            // Get input values
            const investment = parseFloat(document.getElementById('investment').value);
            const incomeTarget = parseFloat(document.getElementById('incomeTarget').value);

            var NoCustomer1 = 10;
            var Rate1 = 0;

            var NoCustomer2 = 50;
            var Rate2 = 0;

            var NoCustomer3 = 0;
            var Rate3 = 500000;

            var NoCustomer4 = 0;
            var Rate4 = 100000;

            var profitPercentage_1 = 20;
            var profitPercentage_2 = 33;

            var percentage_cost1 = 1;
            var percentage_cost2 = 5;
            var percentage_cost3 = 50;
            var percentage_cost4 = 44;

            var percentage_income1 = 0;
            var percentage_income2 = 0;
            var percentage_income3 = 40;
            var percentage_income4 = 60;

            try {

                NoCustomer1 = parseInt(document.getElementById('NoCustomer1').value)
                NoCustomer2 = parseInt(document.getElementById('NoCustomer2').value)
                Rate3 = parseInt(document.getElementById('Rate3').value)
                Rate4 = parseInt(document.getElementById('Rate4').value)

                profitPercentage_1 = parseFloat(document.getElementById('profitPercentage_1').value);
                profitPercentage_2 = parseFloat(document.getElementById('profitPercentage_2').value);

                profitPercentage_1 < 0 ? profitPercentage_1 = 0 : profitPercentage_1 = profitPercentage_1;
                profitPercentage_2 < 0 ? profitPercentage_2 = 0 : profitPercentage_2 = profitPercentage_2;

                profitPercentage_1 > 100 ? profitPercentage_1 = 100 : profitPercentage_1 = profitPercentage_1;
                profitPercentage_2 > 100 ? profitPercentage_2 = 100 : profitPercentage_2 = profitPercentage_2;


                percentage_cost1 = parseFloat(document.getElementById('percentage_cost1').value);
                percentage_cost2 = parseFloat(document.getElementById('percentage_cost2').value);
                percentage_cost3 = parseFloat(document.getElementById('percentage_cost3').value);
                percentage_cost4 = parseFloat(document.getElementById('percentage_cost4').value);

                percentage_cost1 < 0 ? percentage_cost1 = 0 : percentage_cost1 = percentage_cost1;
                percentage_cost2 < 0 ? percentage_cost2 = 0 : percentage_cost2 = percentage_cost2;
                percentage_cost3 < 0 ? percentage_cost3 = 0 : percentage_cost3 = percentage_cost3;
                percentage_cost4 < 0 ? percentage_cost4 = 0 : percentage_cost4 = percentage_cost4;

                percentage_cost1 > 100 ? percentage_cost1 = 100 : percentage_cost1 = percentage_cost1;
                percentage_cost2 > 100 ? percentage_cost2 = 100 : percentage_cost2 = percentage_cost2;
                percentage_cost3 > 100 ? percentage_cost3 = 100 : percentage_cost3 = percentage_cost3;
                percentage_cost4 > 100 ? percentage_cost4 = 100 : percentage_cost4 = percentage_cost4;

                if (percentage_cost1 >= 100) {
                    percentage_cost2 = 0;
                    percentage_cost3 = 0;
                    percentage_cost4 = 0;
                } else if (percentage_cost1 + percentage_cost2 >= 100) {
                    percentage_cost2 = 100 - percentage_cost1;
                    percentage_cost3 = 0;
                    percentage_cost4 = 0;
                } else if (percentage_cost1 + percentage_cost2 + percentage_cost3 >= 100) {
                    percentage_cost3 = 100 - percentage_cost1 - percentage_cost2;
                    percentage_cost4 = 0;
                } else if (percentage_cost1 + percentage_cost2 + percentage_cost3 + percentage_cost4 >= 100) {
                    percentage_cost4 = 100 - percentage_cost1 - percentage_cost2 - percentage_cost3;
                }

                if (percentage_cost1 + percentage_cost2 + percentage_cost3 + percentage_cost4 < 100) {
                    percentage_cost4 = 100 - percentage_cost1 - percentage_cost2 - percentage_cost3;
                }

                percentage_income1 = parseFloat(document.getElementById('percentage_income1').value);
                percentage_income2 = parseFloat(document.getElementById('percentage_income2').value);
                percentage_income3 = parseFloat(document.getElementById('percentage_income3').value);
                percentage_income4 = parseFloat(document.getElementById('percentage_income4').value);

                percentage_income1 < 0 ? percentage_income1 = 0 : percentage_income1 = percentage_income1;
                percentage_income2 < 0 ? percentage_income2 = 0 : percentage_income2 = percentage_income2;
                percentage_income3 < 0 ? percentage_income3 = 0 : percentage_income3 = percentage_income3;
                percentage_income4 < 0 ? percentage_income4 = 0 : percentage_income4 = percentage_income4;

                percentage_income1 > 100 ? percentage_income1 = 100 : percentage_income1 = percentage_income1;
                percentage_income2 > 100 ? percentage_income2 = 100 : percentage_income2 = percentage_income2;
                percentage_income3 > 100 ? percentage_income3 = 100 : percentage_income3 = percentage_income3;
                percentage_income4 > 100 ? percentage_income4 = 100 : percentage_income4 = percentage_income4;




                if (percentage_income1 >= 100) {
                    console.log("percentage_income1 >= 100");
                    percentage_income2 = 0;
                    percentage_income3 = 0;
                    percentage_income4 = 0;
                } else if (percentage_income1 + percentage_income2 >= 100) {
                    console.log("percentage_income1 + percentage_income2 >= 100");
                    percentage_income2 = 100 - percentage_income1;
                    percentage_income3 = 0;
                    percentage_income4 = 0;
                } else if (percentage_income1 + percentage_income2 + percentage_income3 >= 100) {
                    console.log("percentage_income1 + percentage_income2 + percentage_income3 >= 100");
                    percentage_income3 = 100 - percentage_income1 - percentage_income2;
                    percentage_income4 = 0;
                } else if (percentage_income1 + percentage_income2 + percentage_income3 + percentage_income4 >= 100) {
                    console.log("percentage_income1 + percentage_income2 + percentage_income3 + percentage_income4 >= 100");
                    percentage_income4 = 100 - percentage_income1 - percentage_income2 - percentage_income3;
                }

                if (percentage_income1 + percentage_income2 + percentage_income3 + percentage_income4 < 100) {
                    percentage_income4 = 100 - percentage_income1 - percentage_income2 - percentage_income3;
                }

            } catch {

            }

            // Perform calculations based on the provided logic

            const phase1Cost = (percentage_cost1 / 100) * investment;
            const phase2Cost = (percentage_cost2 / 100) * investment;
            const phase3Cost = (percentage_cost3 / 100) * investment;
            const phase4Cost = (percentage_cost4 / 100) * investment;

            const phase1Income = (percentage_income1 / 100) * incomeTarget;
            const phase2Income = (percentage_income2 / 100) * incomeTarget;
            const phase3Income = (percentage_income3 / 100) * incomeTarget;
            const phase4Income = (percentage_income4 / 100) * incomeTarget;

            // Calculate minimum risk and maximum risk
            const minimumRisk = phase1Cost + phase2Cost;
            const maximumRisk_1 = phase1Cost + phase2Cost + phase3Cost;
            const maximumRisk_2 = investment;

            const profit_1 = (profitPercentage_1 * incomeTarget) / 100;
            const profit_2 = (profitPercentage_2 * incomeTarget) / 100;

            var profitreturn_1 = profit_1 / maximumRisk_1;
            var profitreturn_2 = profit_2 / maximumRisk_2;

            Rate1 = (incomeTarget / 12) / NoCustomer1
            Rate2 = (incomeTarget / 12) / NoCustomer2
            NoCustomer3 = (incomeTarget / 12) / Rate3
            NoCustomer4 = (incomeTarget / 12) / Rate4


            // Display results in the #result div as a table
            const resultDiv = document.getElementById('result');
            resultDiv.innerHTML = `
                <div class="caclCustomer">
                    <table>
                        <thead>
                            <tr>
                                <th>Phase</th>
                                <th>Cost</th>
                                <th>Income</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Phase 1</td>
                                <td>₹${phase1Cost.toFixed(0)}<input type="number" id="percentage_cost1" name="percentage_cost1" value="${percentage_cost1}" min="0" max="100" required onchange="calculatePhases()">%</td>
                                <td>₹${phase1Income.toFixed(0)}<input type="number" id="percentage_income1" name="percentage_income1" value="${percentage_income1}" min="0" max="100" required onchange="calculatePhases()">%</td>
                            </tr>
                            <tr>
                                <td>Phase 2    
                            </td>
                                <td>₹${phase2Cost.toFixed(0)}<input type="number" id="percentage_cost2" name="percentage_cost2" value="${percentage_cost2}" min="0" max="100" required onchange="calculatePhases()">%</td>
                                <td>₹${phase2Income.toFixed(0)}<input type="number" id="percentage_income2" name="percentage_income2" value="${percentage_income2}" min="0" max="100" required onchange="calculatePhases()">%</td>
                            </tr>
                            <tr>
                                <td>Phase 3
                            </td>
                                <td>₹${phase3Cost.toFixed(0)}<input type="number" id="percentage_cost3" name="percentage_cost3" value="${percentage_cost3}" min="0" max="100" required onchange="calculatePhases()">%</td>
                                <td>₹${phase3Income.toFixed(0)}<input type="number" id="percentage_income3" name="percentage_income3" value="${percentage_income3}" min="0" max="100" required onchange="calculatePhases()">%</td>
                            </tr>
                            <tr>
                                <td>Phase 4 
                            </td>
                                <td>₹${phase4Cost.toFixed(0)}   <input type="number" id="percentage_cost4" name="percentage_cost4" value="${percentage_cost4}" min="0" max="100" required onchange="calculatePhases()">%</td>
                                <td>₹${phase4Income.toFixed(0)}<input type="number" id="percentage_income4" name="percentage_income4" value="${percentage_income4}" min="0" max="100" required onchange="calculatePhases()">%</td>
                            
                                    </tr>
                            </tbody>
                    </table>
                    <p>Minimum Risk: ₹${minimumRisk.toFixed(0)}</p>
                    <p>Maximum Risk: ₹${maximumRisk_1.toFixed(0)} for <input type="number" id="profitPercentage_1" name="profitPercentage" value="${profitPercentage_1}" min="0" max="100" required onchange="calculatePhases()">%  Profit: ₹${profit_1.toFixed(0)} Return: ${profitreturn_1.toFixed(2)}</p>
                    <p>Maximum Risk: ₹${maximumRisk_2.toFixed(0)} for <input type="number" id="profitPercentage_2" name="profitPercentage" value="${profitPercentage_2}" min="0" max="100" required onchange="calculatePhases()">%  Profit: ₹${profit_2.toFixed(0)} Return: ${profitreturn_2.toFixed(2)}</p>
                </div>    

                <div class="caclCustomer">
                    <table>
                        <thead>
                            <tr>
                                <th>Number of Customers</th>
                                <th>Rate for 1 Customer / Month</th>
                                <th>number of target customer </th>
                                <th>number of meeting</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="number" id="NoCustomer1" name="NoCustomer1" value="${NoCustomer1}"  required onchange="calculatePhases()"></td>
                                <td>${Rate1.toFixed(2)}</td>
                                <td>${(NoCustomer1 * 100).toFixed(2)}</td>
                                <td>${(NoCustomer1 * 10).toFixed(2)}</td>
                            </tr> 
                            <tr>
                                <td><input type="number" id="NoCustomer2" name="NoCustomer2" value="${NoCustomer2}"  required onchange="calculatePhases()"></td>
                                <td>${Rate2.toFixed(2)}</td>
                                <td>${(NoCustomer2 * 10).toFixed(2)}</td>
                                <td>${(NoCustomer2 * 1).toFixed(2)}</td>
                            </tr>
                            <tr>
                                <td>${NoCustomer3.toFixed(2)}</td>
                                <td><input type="number" id="Rate3" name="Rate3" value="${Rate3}"  required onchange="calculatePhases()"></td>
                                <td>${(NoCustomer3 * 100).toFixed(2)}</td>
                                <td>${(NoCustomer3 * 10).toFixed(2)}</td>
                            </tr>
                            <tr>
                                <td>${NoCustomer4.toFixed(2)}</td>
                                <td><input type="number" id="Rate4" name="Rate4" value="${Rate4}"  required onchange="calculatePhases()"></td>
                                <td>${(NoCustomer4 * 100).toFixed(2)}</td>
                                <td>${(NoCustomer4 * 10).toFixed(2)}</td>
                            </tr>
                        </tbody> 
                    </table>  
                    
                </div>

            `;

            // Add data to the table
            // const tableBody = document.querySelector('#financialTable tbody');
            // // tableBody.innerHTML = '';  // Clear existing rows
            // const newRow = `
            //     <tr>
            //         <td>${investment.toFixed(0)}</td>
            //         <td>${incomeTarget.toFixed(0)}</td>
            //         <td>${phase1Cost.toFixed(0)}</td>
            //         <td>${phase2Cost.toFixed(0)}</td>
            //         <td>${phase3Cost.toFixed(0)}</td>
            //         <td>${phase4Cost.toFixed(0)}</td>
            //         <td>${phase3Income.toFixed(0)}</td>
            //         <td>${phase4Income.toFixed(0)}</td>
            //     </tr>
            // `;
            // tableBody.innerHTML = tableBody.innerHTML + newRow;
        }

        // Call calculatePhases when the page is fully loaded
        window.addEventListener('load', calculatePhases);
    </script>

</body>

</html>