<!-- views/profile.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f9f9f9;
        margin: 0;
        padding: 0;
        color: #333;
    }

    h1 {
        text-align: center;
        margin-top: 20px;
        color: #d9534f;
    }

    #profileDetails {
        margin: 20px auto;
        margin-top: 100px;
        max-width: 600px;
        padding: 30px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }

    label {
        display: block;
        margin-top: 15px;
        font-weight: bold;
        font-size: 18px;
    }

    p {
        margin-bottom: 20px;
        font-size: 16px;
    }

    #logoutButton {
        align-items: end;
        justify-content: center;
        padding: 10px;
        background-color: #d9534f;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    #logoutButton i {
        margin-right: 10px;
    }

    #logoutButton:hover {
        background-color: #ac2925;
    }
    .back-button {
        float: left;
        display: block;
        text-align: center;
        margin-top: 20px;
        padding: 10px;
        background-color: #d9534f; /* Red color */
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s;
        width: 120px; /* Adjust width as needed */
        margin: 20px auto;
        margin-left: 10px;
        margin-bottom: 50px;
    }

    .back-button:hover {
        background-color: #ac2925; /* Darker red on hover */
    }
</style>

<body>
    <h1>User Profile</h1>
    <a href="/Company/companyList" class="back-button">Back</a>

    <div id="profileDetails">

        <!-- Display user profile information -->
        <p><strong>Email:</strong> <%= userEmail %></p>
        <p><strong>Company Name:</strong> <%= companyName %></p>
        <p><strong>Contact Person:</strong> <%= contactPerson %></p>
        <p><strong>Mobile Number:</strong> <%= mobileNumber %></p>
        <!-- Add other profile information as needed -->
        
    <br><br><br><br><br>
        <!-- Logout button with icon -->
        <a href="/user/logout" id="logoutButton">
            <i class="fas fa-sign-out-alt"></i>
            Logout
        </a>
    </div>
</body>

</html>
